.app-wrapper {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.header-content-wrapper {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

.logged-user {
  margin-left: 16rem;
}